<div class="navbar">
	<ul class="navbar-ul-right">
		<li><%= link_to "contact us", contact_path %></li>
		<li><%= link_to "about the artists", abouttheartists_path %></li>
		<li  class="nav-gallery-tab"><%= link_to "gallery", gallery_path %></li>
		<li><%= link_to "home", root_path %></li>
	</ul>
	<ul class="navbar-ul-left">
		<li>Ilizwi Lam</li>
	</ul>
</div>
<div class="container">
	<hr></hr>
	<div class="gallery-header">gallery</div>
	<hr></hr>
	<div class="gallery-pic-1"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/1forgottenpeople.png", :class =>"lazy", id: "Forgotten People", height: 600, width: 750) %></div>
	<br></br>
	<div class="gallery-pic-name">Forgotten People</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Akhona Khube</div>
	<div class="gallery-pic-caption">This is an old, abnormal granny who is sitting on a set of wheels. Even now you can find her sitting in the rain nearby where I live. Us as young people should create old age homes for those who are not taken care of.<br></br>I took this picture because it shows that I should work towards creating a better future for others. One dat I should be the one to bring an old age home to the community.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/2everyonedeservesfreedom.png", :class =>"lazy", id: "Everyone Deserves Freedom", height: 400, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Everyone Deserves Freedom</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Sandisile Xelelwa</div>
	<div class="gallery-pic-caption">This old woman is carrying 25 litres of paraffin, and you can see by her facial expression that this is a very heavy duty that she does not have a choice about. She can collapse at any time, but is struggling to get what she wants. These old women are supposed to be kept in a safe place - in an old age home where they can be looked after and stay warm. <br></br> This is one of those problems we are facing, because our government is reckless towards us and towards old people. This situation is also a lost job opportunity for youth, who could be hired by the government to look after grandparents.</div>
	<br></br>

	<div class="gallery-pic-3"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/3thegugulethulifestyle.png", :class =>"lazy", id: "The Gugulethu Lifestyle", height: 640, width: 500) %></div>
	<br></br>
	<div class="gallery-pic-name">The Gugulethu Lifestyle</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Noluthando Gibisela</div>
	<div class="gallery-pic-caption">I took this picture because I think that alcohol plays a huge part in the unemployment of the community. There are people in my community that had stable jobs that they ended up losing because of alcohol abuse, and because they spent too much time in taverns. <br></br> In townships people have easy access to alcohol, but I can say that they should focus on positive things and on their potential.</div>
	<br></br>

<!-- 		<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/4kasivibe.jpg", :class =>"lazy", id: "Kasi Vibe", height: 600, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Kasi (Local) Vibe</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Mkhululi Shiba</div>
	<div class="gallery-pic-caption">This is a picture of local guys who drink four days a week at Lifa's Place in KTC, Nyanga. Alcohol is badly affecting the community because it increases the crime and unemployment rates. With R50 you can travel to anywhere in Cape Town. One beet is R13, and the six of them combined probably drink one or two cases. If these guys would use that money for transport to go and look for a job, they would be more effective in finding work. They found something they liked (alcohol) and instead spend their time finding ways to buy it. This guy on the left rents his house in Delft and lives with his parents to get money for alcohol. So, in a way, these guys are business minded and creative - but they aren't using their potential for the right things.</div>
	<br></br> -->

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/5thecubanotavern.png", :class =>"lazy", id: "The Cubano Tavern", height: 600, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">The Cubano Tavern</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Ntombekhaya Jakuja</div>
	<div class="gallery-pic-caption">This is a picture of a tavern in Nyanga called Cubano. I took the picture because it is the only tavern that has been in my community. There have been so many lives lost there - a lot of youth have died. It is hard to get a job for people who spend their time there, because alcohol can make people hopeless. <br></br> I want change in my life and I am ambitious. I know that I have values and am different from these people.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/6informalsettlement.png", :class =>"lazy", id: "Informal Settlement", height: 600, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Informal Settlement</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Sandisile Xelelwa</div>
	<div class="gallery-pic-caption">It is not easy if you are not comfortable in the space where you live. You will not be able to make your mind free to think outside the box. These people don't have toilets and have to go to RDP houses to ask for water. If it is raining, they need to put buckets next to their bed. They also don't have access to electricity to use computers. <br></br> This living situation makes it hard for people to get a job because they do not have enough time to think about making their own CVs. They have to sort out the things in their houses that are obstructing their lives. If you have space, and are free, then you can make better use of your time.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/7unemploymenteffects.png", :class =>"lazy", id: "Unemployment Effects", height: 650, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Unemployment Effects</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Thulani Hasane</div>
	<div class="gallery-pic-caption">I took this photo to show the difficulties that people who are living in shacks experience. They face deep problems because when it rains, water gets in their rooms and wets everything, including their clothes, blankets, food, and beds. <br></br> I was living in shacks like this in 2010. When it was raining we didn't see that the roof had a hole where drops of water entered, and my brother's computer was ruined. One of the things that makes it difficult to find a job for people living in this area is that they cannot gain information by accessing the Internet.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/8childrenengageinplaygrounds.png", :class =>"lazy", id: "Children Engage in Playgrounds", height: 650, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Children Engage in Playgrounds</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Cindy Ralarala </div>
	<div class="gallery-pic-caption">I captured this picture of a park in Gugulethu because it inspires me to see kids playing in the parks instead of smoking, robbing or joining the gangsters. You see this one? He's my cousin. He is ten years old. In my community, ten-year-old children are doing bad things. Really scary and bad things... Robbing people with knives. <br></br> It's rare, seriously, to see children playing in parks. I could say it was my lucky day. Parents should educate their children that crime does not pay. </div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/9ourhomesinthepast.png", :class =>"lazy", id: "Our Homes in the Past", height: 650, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Our Homes in the Past</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Ncebakazi Mqolombeni</div>
	<div class="gallery-pic-caption">This is a picture of our community in Nyanga that reminds me of where I come from. We lived in these shacks in Nyanga, but today we are living in RDP houses. In KTC, the government is replacing shacks with houses, and trying to make new homes for people. This change inspires me a lot because it shows that the government is developing. <br></br> A home is a place where you can feel safe. I know now that when I come home I will feel secure, comfortable, and free. </div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/10togetherwecan.png", :class =>"lazy", id: "Together We Can", height: 650, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Together We Can</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Mkhululi Shiba</div>
	<div class="gallery-pic-caption">This is a picture of the sun rising over RDP houses that the government is building to replace the shacks here in Mpetha Square in Nyanga. The people who are building these houses are the same ones who are going to be living in them. <br></br> The workers and foremen are all community members. I am one of those workers, and house 33 in this picture will be mine. Every day when I wake up I see the morning sun rising behind my shack, and to me that is inspirational because another day and its challenges is beginning. Every evening, when I watch the sun setting, I ask myself what I have gained, completed, or achieved that day. I look at the obstacles that stood in my way so that the next morning, when I set up my next goal, I know what to aboid. <br></br> I respect time. I know that time is everything.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/11disastersite.png", :class =>"lazy", id: "Disaster Site", height: 650, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Disaster Site</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Mkhululi Shiba</div>
	<div class="gallery-pic-caption">People in the community call this the disaster site. All of this rubble is sitting across the street from the RDP houses. I am trying to show what the community is capable of - this is the community's work. They took all the rubble out of the shacks so that the government could build RDP houses. It is now an unsafe dumping site near toilets and children who are playing. <br></br> This picture says a lot of things. It tells you the work that the community did and the work that the municipality doesn't want to do. The municipality was supposed to pick up the rubble after three days. The community is trying to talk to the mayor to get it removed. But they know about this waste, that's one thing for sure. It has been here for almost two months now.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/12cityofcapetown.png", :class =>"lazy", id: "City of Cape Town", height: 650, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">City of Cape Town Trying to Make Changes</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Ncebakazi Mqolombeni</div>
	<div class="gallery-pic-caption">I love this image because of the bright colors and motion in it. These men are taking the bins from our homes, and trying to clean the community. This inspires me because they are doing something important.<br></br> People are getting employed to develop our community into a better place. They are working.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/13development.png", :class =>"lazy", id: "Development", height: 650, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Development</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Nontombeko Jamjam</div>
	<div class="gallery-pic-caption">This picture has been taken at a train station in Philippi that is getting renovated. This picture is so inspiring because it shows development in our community. The tightening up of security because of the new station will make people safer. <br></br> When the station is built there will be more shops and a centre - the train will create jobs and give us better access to jobs in town. That is inspiring for me because it is something that will benefit the whole community and eliminate the number of unemployed youth.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/14inzame.png", :class =>"lazy", id: "Inzame", height: 650, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Inzame (Strive to Have Something)</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Akhona Mofu</div>
	<div class="gallery-pic-caption">The owner of this stand in Philippi is a self-employed woman. What inspires me is that I know that she is not educated, but she nonetheless knows how to treat people and communicate with people to get customers.<br></br> She knows how to work by herself, making money in a positive way by selling fruit and vegetables. If you start a small business, bit by bit, it will grow.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/15vukuzenzele.png", :class =>"lazy", id: "Vukuzenzele", height: 450, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Vukuzenzele (Wake Up and Do it for Yourself)</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Sandisile Xelelwa</div>
	<div class="gallery-pic-caption">You have to work hard to make the small business of selling sheep's heads flow - this guy is removing the wool so that the sheep will be ready to cook. Farm owners throw away sheep's heads and legs, but someone in our township came up with the idea to fetch them and resell them to the public. We have eaten sheep's heads for a long time in every African culture: Zulu, Sutu, Xhosa, Tswana, Pedi, I can name them all. That business was there, but no one was making money. <br></br> What inspires me the most is that you can make a living without going to work for someone else - just by thinking of an idea.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/16ayoungtalentedactor.png", :class =>"lazy", id: "A Young Talented Actor", height: 450, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">A Young Talented Actor</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Sandisile Xelelwa</div>
	<div class="gallery-pic-caption">What do you think when you see this guy? You think, "He's a tsotsi, he's a gangster trying to hide himself." But this is my friend Lusindiso Tyhulu, a famous actor who grew up in a corrupted environment, but never joined the armed struggle of criminals. He is smart, humble, and a nice guy who is wearing these clothes becuase he doesn't care about fashion - he's carefree. <br></br> It doesn't matter what you think about him. He's so inspiring to me and other youth. He leads people in my neighborhood to never lose hope - you can be what you want in life if you just focus on it and don't let anything distract you. Simple as that.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/17smallbusinessstarter.png", :class =>"lazy", id: "Small Business Starter", height: 450, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Small Business Starter in My Community</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Phatiswa Pikini</div>
	<div class="gallery-pic-caption">I am proud of where I come from. I know that some people might say this is nothing to be proud of because there is nothing good about this place... even the living standard is poor. But I am who I am because of this place. This place made me. This car wash might look like something small, but the fact that this man is able to wake up early in the morning and have bread for himself and his family says a lot about him. <br></br> It touches me what he is doing, and it tells me that to go and work for somebody is not the only way to live. I see things in a positive way. Your mistakes, being poor, or where you are doesn't determine your future because I know I might come from this background, but I am not going to end here.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/18fishchipsandadream.png", :class =>"lazy", id: "Fish, Chips, and a Dream", height: 450, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Fish, Chips, and a Dream</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Thulani Hasane</div>
	<div class="gallery-pic-caption">A woman started this fishery because she did not have other job qualifications. This lady depends on herself now. She is an example to our community because she took a risk and got a lot out of it. When I think about this, I realize that there is nothing that can stand in my way of doing the same.<br></br> Why not me? One day I want to start my own information technology business.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/19boystownfruitandveg.png", :class =>"lazy", id: "Boystown Fruit and Veg", height: 450, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Boystown Fruit and Veg</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Yolanda Nqodi</div>
	<div class="gallery-pic-caption">It is difficult for us to get fruit and vegetables in Crossroads because the gangsters always rob the fruit and veg stands. I love this place because it is clean and even has something to block the sunlight from the produce. An old man owns this stand and sells us fruit and veg when he is not working at a factory in Wynberg.<br></br> This guy is inspiring because he is working so hard, sacrificing his time and effort so that we can buy fresh and cheap food.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/20iparaffinikhona.png", :class =>"lazy", id: "Iparaffin Ikhona", height: 450, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Iparaffin Ikhona (There use Paraffin)</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Celiwe Tshemese</div>
	<div class="gallery-pic-caption">There is a place where a woman is selling paraffin in Philippi, close to my home. She dropped out of school to get married. When she ended her marriage she couldn't go back to study further. This woman has children to feed. <br></br> It is hard to get a job if you have such worries in life. She inspires me because, like her, I couldn't continue studying after Grade 12. Yet I can wake up in the morning and do things that are meaningful and positive in life. I can be able to stand up proud and say, "This is where I come from and this is who I am right now."</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/21fromnobodytosomeone.png", :class =>"lazy", id: "From Nobody to Someone", height: 450, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">From Nobody to Someone</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Abongile Mbemba</div>
	<div class="gallery-pic-caption"> This photograph is of a young guy who passed his Matric seven years ago and did not study further. Two years after is Matric, he decided to open a barbershop with a machine that was given to him by a family member. He started by cutting chiskop (plain cut), but now he has more machines and has learned to make other styles. <br></br> He inspires me because he never worked before this, yet didn't wait for another person to come help him succeed. He succeeded by himself and is independent. He is a go-getter.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/22isintusakwaxhosa.png", :class =>"lazy", id: "Isintu Sakwaxhosa", height: 450, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Isintu Sakwaxhosa (The Culture of Xhosa)</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Noluthando Gibisela</div>
	<div class="gallery-pic-caption"> This woman designs amadakhi (African dresses) that she sells at the Nyanga Terminus. Miss Nobesuthu started her business in 2008, and it has been growing ever since. She gets orders from Cape Town and the Eastern Cape. <br></br> What inspires me about this picture is that she makes the dresses all by herself and uses her gift to create something that benefits other people. This picture shows the beauty of the Xhosa culture and the talent that our people have.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/23holinesschurchofgod.png", :class =>"lazy", id: "Holiness Church of God", height: 353, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">Holiness Church of God</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Shaun Matshaya</div>
	<div class="gallery-pic-caption"> Sometimes people don't have anything to eat at home. The people in this shack provide others with something to eat during the day, even if they are not working, in order to give them strength to go on. People who go there for food want something for their tomorrow, even if they do not know what that tomorrow is. <br></br> This picture is inspiring because it shows that people in Mkhonto in Nyanga help each other to have something that can boost them forwards in life. People in our community help and care for one another.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/24godswords.png", :class =>"lazy", id: "God's Words", height: 400, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">God's Words</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Anonymous</div>
	<div class="gallery-pic-caption"> This Bible gives me courage to have the knowledge that God made a way for us to get life and prosperity. I was lost and then found. I have 134 friends now who have died from gang violence. And I am the one who is in this world, accommodating people and driving the people to go towards the way of God. I was a gangster, and some boys who thought that I was still a gangster wanted to start fights with me. I was drinking one day with my other friends and a girl from the Eastern Cape. Those boys threw bricks at me, threw me on the pavement, and I went into a coma. They thought I was dead, but The Lord gave me a second chance to live. After my head accident the doctors told me that I would never be able to leave the hospital. But the word of God showed me that I would live to have everything that I deserve to get. The impossible is possible.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/25myjoy.png", :class =>"lazy", id: "My Joy", height: 450, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">My Joy</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Akhona Khube</div>
	<div class="gallery-pic-caption"> My son is my pride and joy. The person that keeps me going in life and makes me eager to create a better future. When I was pregnant, I used to think that my life was about to end because at my age, 21 years, having a son was not the plan. But when I gave birth, I was happy because this is a gift from God. <br></br> My son is the person that keeps me going. He keeps me strong and makes me want to create a better future for us and for our extended family.</div>
	<br></br>

	<div class="gallery-pic"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/26alifewithnoone.png", :class =>"lazy", id: "A Life With No One", height: 450, width: 800) %></div>
	<br></br>
	<div class="gallery-pic-name">A Life With No One</div>
	<div class="gallery-pic-photographer"><strong>Photographer:</strong> Abongile Mbemba</div>
	<div class="gallery-pic-caption"> This girl is an orphan who my mother took in, and who lives with me now. She doesn't feel bad for herself and gets along with all of the other children. She is inspiring to me because she doesn't feel sorry for herself. She taught me that you must tell yourself that you are your own person - you do not need anyone else to depend on. If there is nobody else in this world, you can survive on your own. <br></br> I can be strong on my own.</div>
	<br></br>
</div>