<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
	<div class="navbar">
		<ul class="navbar-ul-right">
			<li class="nav-contact-tab"><%= link_to "contact us", contact_path %></li>
			<li><%= link_to "about the artists", abouttheartists_path %></li>
			<li><%= link_to "gallery", gallery_path %></li>
			<li><%= link_to "home", root_path %></li>
		</ul>
		<ul class="navbar-ul-left">
			<li>Ilizwi Lam</li>
		</ul>
	</div>
	<div class="container">
		<hr></hr>
		<div class="contact-header">contact us</div>
		<hr></hr>
		<div class="contact-float-right">
			<div class="contact-etafeni-header">Etafeni</div>
			<%= image_tag("etafenicontact.png", id: "Etafeni Contact", :class=>'img-contact') %>
		</div>
		<div class="contact-float-left">
			<div class="contact-myvoice-header">ilizwi lam</div>
			<div class="contact-myvoice-body">Thank you so much for visiting the ilizwi lam project! We really appreciate you stopping by. If you have any questions, comments, or suggestions, we would love to hear them. Also, if you want to know more about etafeni, please visit their website at <link>etafeni.org</link>. </div>
		</div>
	</div>
</body>
</html>