<div class="navbar">
	<ul class="navbar-ul-left">
		<li>Ilizwi Lam</li>
	</ul>
	<ul class="navbar-ul-right">
		<li class="nav-contact-tab"><%= link_to "contact us", contact_path %></li>
		<li><%= link_to "about the artists", abouttheartists_path %></li>
		<li><%= link_to "gallery", gallery_path %></li>
		<li><%= link_to "home", root_path %></li>
	</ul>
</div>
<div class="container">
	<hr></hr>
	<div class="contact-header">contact us</div>
	<hr></hr>
	<div class="contact-float-left">
		<div class="contact-myvoice-header">Ilizwi Lam</div>
		<div class="contact-myvoice-body">Thank you so much for visiting the Ilizwi Lam online exhibition and for using this time to engage with the inspiring and inspired work of the photographers. This project was independently managed, and could not have happened without the cooperation of Etafeni and its generous staff. <br></br>If you have any questions, comments, or suggestions, please e-mail <%= mail_to "Ilizwietafeni@gmail.com" %>.  If you would like to learn more about Etafeni, please visit their website at <%= link_to "etafeni.org", "http://www.etafeni.org" %> </div>
		<%= image_tag("https://s3.amazonaws.com/illizwilam/images/contactus.png", id: "Contact Us Image", :class =>'contact-group-pic lazy') %>
	</div>
	<div class="contact-float-right">
		<div class="contact-etafeni-header">Etafeni</div>
		<div class="contact-etafeni-info">CONTACT US</div>
		<br></br>
		<div class="etafeni-contact-text"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/locationicon.png", id: "Location Icon", height: 50, width: 15, :class =>'etafeni-icon lazy') %>Sihume Road, Nyanga, Cape Town 7750</div>
		<div class="etafeni-contact-text"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/timeicon.png", id: "Time Icon", height: 50, width: 15, :class =>'etafeni-icon lazy') %><strong>Tel:</strong> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp021 386 1516</div>
		<div class="etafeni-contact-text"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/faxicon.png", id: "Fax Icon", height: 50, width: 15, :class =>'etafeni-icon lazy') %><strong>Fax:</strong> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp021 386 2560</div>
		<br>
		<div class="etafeni-contact-text"><strong>Peter Barendse</strong> (Project Manager)</div>
		<div class="etafeni-contact-text"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/emailicon.svg", id: "Email Icon", height: 50, width: 15, :class =>'etafeni-icon lazy') %><strong>Email:</strong> &nbsp&nbsp&nbsp&nbsp&nbsp <%= mail_to "peter@etafeni.org.za" %></div>
		<br>
		<div class="etafeni-contact-text"><strong>Barbara Miller</strong> (Development Manager)</div>
		<div class="etafeni-contact-text"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/timeicon.png", id: "Time Icon", height: 50, width: 15, :class =>'etafeni-icon lazy') %><strong>Tel:</strong> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp082 890 2555</div>
		<br>
		<div class="etafeni-contact-text"><strong>Stephanie Kilroe</strong></div>
		<div class="etafeni-contact-text"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/timeicon.png", id: "Time Icon", height: 50, width: 15, :class =>'etafeni-icon lazy') %><strong>Tel:</strong> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp082 4621 082</div>
		<div class="etafeni-contact-text"><%= image_tag("https://s3.amazonaws.com/illizwilam/images/emailicon.svg", id: "Email Icon", height: 50, width: 15, :class =>'etafeni-icon lazy') %><strong>Email:</strong> &nbsp&nbsp&nbsp&nbsp&nbsp <%= mail_to "stephanie@intermail.co.za" %></div>
	</div>
</div>